fastapi
uvicorn
python-dotenv
python-multipart
pydantic

# LangChain 核心
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-openai 
# (虽然你主要用通义，但langchain很多底层依赖这个，建议留着防报错)

# ⚠️ 你的代码里用到了这个特殊包
langchain-classic

# 向量数据库 & 阿里云
langchain-pinecone
dashscope
pinecone-client

# 处理 PDF 必须的库
pypdf